/*!
 * Site Piti. Start Bootstrap - Modern Business (https://startbootstrap.com/templates/modern-business)
 * Copyright 2020 JOG
  */

.titol {
	color: #6495ed;
	text-decoration: none;
	background-color: transparent;
}

.precio {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  color: #6495ed;
}