/*!
 * Site Piti. Bootstrap - Modern Business (https://startbootstrap.com/templates/modern-business)
 * Copyright 2020 JOG
  */

$color1:#6495ed;


.azul {
	color: $color1;
	text-decoration: none;
	background-color: transparent;
}

.precio {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  color: $color1;
}