/*!
 * Site Piti. Bootstrap - Modern Business (https://startbootstrap.com/templates/modern-business)
 * Copyright 2020 JOG
  */

$color1:#6495ed;

.precio {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  color: $color1;
}

// Mixins
@mixin texto($color:$color1){
  color:$color;
	text-decoration: none;
	background-color: transparent;
}

.titol{
  @include texto();
}

.blanc{
  @include texto(#fff);
}