/*!
 * Site Piti. Bootstrap - Modern Business (https://startbootstrap.com/templates/modern-business)
 * Copyright 2020 JOG
  */

$color1:#6495ed;

.blanc {
  color: #fcfcfd;
	text-decoration: none;
	background-color: transparent;
}
.titol {
	color: $color1;
	text-decoration: none;
	background-color: transparent;
}

.precio {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  color: $color1;
}

// Mixins
@mixin cuadrado ($fondo, $ancho:200px){
  background-color:$fondo;
  width: $ancho;
  height: 200px;
  margin-top: 5px;
  padding: 10px;
}

.cuadradro1{
  @include cuadrado(#6495ed, 300px);
}

.cuadradro2{
  @include cuadrado(#676d77, 600px);
}